/* ----------- Default Styles Start ----------- */
/* ----- Text Start ----- */
.display-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}
.display-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
}
.display-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.headline-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}
.headline-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}
.headline-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.title-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
.title-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.title-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.body-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.body-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.body-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.label-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.label-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.label-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
}
/* ----- Text End ----- */
/* ----------- Default Styles End----------- */

/* ----------- Left Nav Start----------- */
.link-container {
  @apply pl-2 h-8 rounded-full flex content-center items-center gap-x-4
}
/* ----------- Left Nav End----------- */

/* ----------- Asset Management Start----------- */
/* Default Management Component Start */
.am-landing-container {
  @apply flex flex-wrap gap-6 title-large text-neutral-9;
}
.am-landing-container-button {
  @apply bg-white border-2 border-white hover:border-blue-9 shadow-light rounded-2xl w-[280px] py-6 px-4 flex justify-center gap-x-4 text-left;
}
.am-landing-container img {
  @apply h-7 w-fit
}
/* Default Management Component End */
/* Default Action Component Start */
.am-action-container {
  @apply w-full flex flex-col h-screen p-6 justify-center items-center;
}
.am-action-component {
  @apply bg-white w-full max-w-md p-6 rounded-2xl shadow-light flex flex-col gap-y-6;
}
.am-action-component-title {
  @apply mb-2 title-large;
}
.am-action-component-main {
  @apply flex flex-col gap-y-6;
}
.am-action-component-item {
  @apply flex justify-between body-medium flex-col gap-2;
}
.am-action-component-item label {
  @apply body-medium;
  font-weight: 500;
}
.am-uniqname-item {
  @apply p-2 px-2 ring-1 ring-neutral-4 rounded-lg border-neutral-5 focus:outline-none focus:ring-blue-9 w-36;
}
.am-laptop-item {
  @apply flex
}
.am-laptop-item select {
  @apply p-1 rounded-l-lg ring-1 ring-neutral-4 focus:outline-none focus:ring-blue-9 text-neutral-9 bg-neutral-1
}
.am-laptop-item input {
  @apply p-2 px-2 ring-1 ring-neutral-4 rounded-r-lg border-neutral-5 focus:outline-none focus:ring-blue-9 h-fit w-32
}
.am-comments {
  @apply flex flex-col justify-between gap-y-3
}
.am-comments label {
  @apply body-medium;
  font-weight: 500;
}
.am-comments textarea {
  @apply p-2 h-16 resize-none rounded-lg ring-1 ring-neutral-4 focus:outline-none focus:ring-blue-9 w-full body-medium text-neutral-9
}
.am-submit-cancel-container {
  @apply w-full flex justify-between
}
.am-submit-button {
  @apply label-large w-fit border-none rounded-full p-3
}
/* Default Action Component End */

/* ----------- Asset Management End----------- */

/* ----------- Asset Management Check In Start----------- */
.add-note {
  @apply absolute top-0 left-0 right-0 bottom-0 bg-white dark:bg-black rounded-md flex flex-col gap-y-1;
}
.add-note-title {
  @apply title-small text-neutral-9 dark:text-neutral-1;
}
.add-note-textarea {
  @apply w-full h-44 rounded-md resize-none mb-6 bg-white dark:bg-black text-neutral-9 dark:text-neutral-1 pt-3 outline-none;
}
/* ----------- Asset Management Check In End----------- */
