@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ----------- Default Styles Start ----------- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scrollbar start */
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
  width: 12px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #616161;
}
/* Scrollbar End */

/* ----- Text Start ----- */
.display-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}
.display-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
}
.display-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.headline-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}
.headline-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}
.headline-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.title-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
.title-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.title-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.body-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.body-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.body-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.label-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.label-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.label-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
}
/* ----- Text End ----- */
/* ----------- Default Styles End----------- */

/* ----------- Animation Styles Start----------- */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes popupAnimation {
  0% {
    scale: 0%;
  }
  40% {
    scale: 110%;
  }
  100% {
    scale: 100%
  }
}
.fade-in {
  animation: fadeInAnimation;
  animation-duration: 200ms;
  animation-timing-function: ease-in;
}
.popup {
  animation: popupAnimation;
  animation-duration: 500ms;
}


/* ----------- Animation Styles End----------- */

/* ----------- Left Nav Start----------- */
.link-container {
  @apply pl-2 h-8 rounded-full flex content-center items-center gap-x-4;
}
/* ----------- Left Nav End----------- */

/* ----------- Asset Management Start----------- */
/* Default Management Component Start */
.am-landing-container {
  @apply flex flex-wrap gap-6 title-medium text-neutral-9;
}
.am-landing-container-button {
  @apply bg-white shadow-light hover:bg-blue-0 focus:bg-blue-1 hover:shadow-blue items-center rounded-lg w-[200px] py-3 px-4 flex flex-col gap-2 text-left;
  transition: ease-out 400ms;
}
.am-landing-container img {
  @apply h-7 w-fit
}
/* Default Management Component End */
/* Asset Management Action Component Start */
.am-action-main {
  @apply w-full flex flex-col h-screen p-6;
}
.am-action-container {
  @apply w-full h-screen p-6 flex flex-col justify-center items-center;
}
.am-action-form {
  @apply w-full max-w-sm p-6 rounded-xl shadow-light bg-white flex flex-col gap-y-6;
  animation: popupAnimation;
  animation-duration: 500ms;
}
.am-action-form-header {
  @apply flex gap-3 justify-center items-center headline-small
}
.am-action-form-header img {
  @apply h-5 w-fit
}
.am-action-component-main {
  @apply flex flex-col gap-y-1;
}
.am-action-component-item {
  @apply body-medium flex justify-between flex-col;
}
.am-action-component-item-header {
  @apply w-fit mb-2 body-medium flex items-center gap-1;
}
.am-action-component-item-header img {
  @apply w-fit h-[14px];
}
.am-action-form-default {
  @apply bg-white rounded-md ring-1 ring-neutral-5 hover:ring-neutral-6 focus:ring-blue-9 focus:ring-2 focus:outline-none
}
.am-action-form-error {
  @apply bg-white rounded-md ring-1 ring-red-5  focus:ring-red-5 focus:ring-2 focus:outline-none
}
.am-action-form-error-message {
  @apply min-h-[20px] mt-[4px] body-medium flex items-start gap-1 text-red-10
}
.am-action-form-error-message img {
  @apply mt-[2px]
}
.am-uniqname-item {
  @apply w-32 px-2 p-[6px];
}
.am-laptop-item {
  @apply w-fit flex
}
.am-laptop-item select {
  @apply w-fit p-[6px] rounded-none rounded-l-md cursor-pointer mr-[0px] focus:z-20 hover:z-10 focus:bg-white text-neutral-9 bg-neutral-1
}
.am-laptop-item input {
  @apply p-[6px] px-2 h-fit w-20 rounded-none rounded-r-md focus:z-20 hover:z-10
}
.am-comments {
  @apply mb-6 flex flex-col justify-between gap-y-2
}
.am-comments-header {
  @apply w-fit body-medium flex items-center gap-1;
}
.am-comments textarea {
  @apply bg-white w-full body-medium p-[6px] h-16 resize-none rounded-md text-neutral-9
}
.am-submit-cancel-container {
  @apply w-full flex justify-between
}
.am-submit-close-button {
  @apply p-3 w-[130px] label-large text-center border-none rounded-full
}
.am-action-submit-button-spinner {
  @apply w-full flex justify-center
}
.am-action-submit-button-spinner img, .am-action-submit-button-spinner svg {
  @apply w-5 h-5 animate-spin ml-2
}
/* Default Action Component End */
/* Action Success Start */
.am-action-success-container {
  @apply w-full flex flex-col gap-12 max-w-sm bg-white p-6 rounded-lg items-center shadow-light
}
.am-action-success-header {
  @apply title-large text-blue-9 text-center w-fit flex flex-col gap-6
}
.am-action-success-header img {
  @apply h-[78px]
}
.am-action-success-container-main {
  @apply flex flex-col gap-9 w-full
}
.am-action-success-asset-uniqname {
  @apply flex gap-2
}
.am-action-success-asset-uniqname-button {
  @apply bg-base-light hover:bg-neutral-2 active:bg-neutral-3 p-[6px] rounded flex gap-2 body-large justify-center items-center flex-1 cursor-pointer
}
.am-action-success-asset-uniqname-button img {
  @apply h-5 w-5
}
/* Start the edits here */
.am-action-success-extra-info {
  @apply flex gap-4 flex-col
}
.am-action-success-tdx-button {
  @apply bg-base-light hover:bg-neutral-2 active:bg-neutral-3 p-1 rounded flex gap-2 body-medium items-center justify-center cursor-pointer w-fit
}
.am-action-success-tdx-button img {
  @apply h-5 w-5
}
.am-action-success-date-comments {
  @apply flex flex-col gap-2 body-medium
}
.am-action-success-date-comments-info {
  @apply flex gap-2
}
.am-action-success-date-comments-info img {
  @apply h-5 w-5
}
.am-action-success-close-button {
  @apply block text-center w-full rounded-full bg-blue-9 body-medium p-[10px] text-white hover:bg-blue-8
}
/* Action Success End */
/* High Error Alert Start */
.am-error-alert-container {
  @apply fixed right-0 bottom-0 m-3 flex flex-col
}
.am-error-alert-main {
  @apply mr-8 flex flex-col gap-2 items-end
}
.am-error-alert-message {
  @apply body-small bg-white p-3 rounded-md w-[240px]
}
.am-error-alert-button-container {
  @apply flex flex-col justify-between mt-2 gap-2 w-full
}
.am-error-alert-close-button {
  @apply body-small flex-1 text-neutral-9 p-2 bg-neutral-2 hover:bg-neutral-3 rounded-full
}
.am-error-alert-tdx-button {
  @apply body-small text-white bg-blue-9 hover:bg-blue-8 p-2 rounded-full flex-1 text-center
}
.am-error-alert-squirrel-container {
  @apply flex w-full justify-end
}
.am-error-alert-squirrel-container img {
  @apply h-9 w-fit
}
/* High Error Alert End */
/* Uncaught Error Alert Start */
.am-action-uncaught-error-alert {
  @apply body-medium bg-red-0 text-red-10 p-3 rounded-md flex items-start gap-3
}
.am-action-uncaught-error-alert img {
  @apply h-5 w-5
}
.am-action-uncaught-error-alert a {
  @apply underline
}
/* Uncaught Error Alert End */
/* ----------- Asset Management End----------- */


/* ----------- Resources Start ----------- */
.r-page {
  @apply w-full flex flex-col p-6 items-center
}
/* Resource Landing Start */
.r-landing-container {
  @apply max-w-3xl w-full mt-8
}
.r-landing-title {
  @apply mb-6 headline-large text-center
}
.r-landing-main {
  @apply mt-14
}
/* Resource Landing End */

/* Resource Landing Tabgroups Start */
.r-landing-tabgroups {
  @apply p-3 w-60 flex items-center gap-3 shadow-light bg-white hover:bg-blue-0 focus:bg-blue-1 hover:shadow-blue rounded-lg title-small text-neutral-9;
  transition: ease-out 400ms;
}
/* Resource Landing Tabgroups End */

/* Resource Landing Tabs Start */
.r-landing-tabs {
  @apply py-2 px-4 title-medium focus:outline-none
}
/* Resource Landing Tabs End */

/* Resource Landing Search Start */
.r-landing-search {
  @apply relative mt-14 w-full border border-blue-9 rounded-lg
}
.r-landing-search input {
  @apply w-full pl-10 rounded-lg p-3 bg-white body-medium pr-12 focus:outline-blue-9
}
.r-landing-search-icon {
  @apply absolute top-0 left-0 flex items-center justify-center h-full p-3
}
.r-landing-search-clear {
  @apply absolute top-0 right-0 flex items-center justify-center h-full p-2
}
/* Resource Landing Search End */

/* Resource Landing Categories Start */
.r-landing-categories-title {
  @apply mb-6 headline-small text-left mt-20
}
.r-landing-categories-container {
  @apply w-full flex flex-col gap-4
}
.r-landing-categories-cards {
  @apply flex flex-col gap-4 lg:flex-row
}
.r-landing-categories-card {
  @apply flex-1 flex shadow-light hover:shadow-blue bg-white p-3 rounded-md gap-4 hover:bg-blue-0 focus:bg-blue-1;
  transition: ease-out 200ms;
}
.r-landing-categories-card img {
  @apply rounded-md h-6 w-10
}
.r-landing-categories-card-content {
  @apply body-medium
}
.r-landing-categories-training-card {
  @apply flex items-center justify-center shadow-light hover:shadow-blue bg-white p-3 rounded-md gap-2 hover:bg-blue-0 focus:bg-blue-1 title-large;
  transition: ease-out 400ms;
}
.r-landing-categories-training-card img {
  @apply rounded-md h-10 w-10
}
/* Resource Landing Categories End */

/* Resource GroupBuilder Start */
.r-groupbuilder-nav {
  @apply text-neutral-7 w-full max-w-3xl flex gap-1
}
.r-groupbuilder-container {
  @apply max-w-3xl w-full
}
.r-groupbuilder-searchbox {
  @apply relative mt-8 mb-8 w-full border border-blue-9 rounded-lg
}
.r-groupbuilder-searchbox input {
  @apply w-full pl-10 rounded-lg p-3 bg-white body-medium pr-12 focus:outline-blue-9
}
.r-groupbuilder-searchbox-clear {
  @apply absolute top-0 right-0 h-full p-2
}
/* Resource GroupBuilder End */

/* Resource CategoryBuilder Start */
.r-categorybuilder-nav {
  @apply text-neutral-7 w-full max-w-3xl flex gap-1
}
.r-categorybuilder-title {
  @apply mb-6 headline-large text-center
}
/* Resource CategoryBuilder End */

/* Resource Links Start */
.r-links-container {
  @apply flex flex-col gap-4
}
.r-individual-link {
  @apply shadow-light hover:shadow-blue bg-white rounded-md p-4 hover:bg-blue-0;
  transition: ease-out 400ms;
}
.r-individual-link-name {
  @apply title-medium text-blue-9 mb-2
}
.r-individual-link-description {
  @apply body-medium text-neutral-9
}
/* Resource Links End */

/* ----------- Resources End ----------- */