@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ----------- Default Styles Start ----------- */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Scrollbar start */
::-webkit-scrollbar {
  width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
  width: 12px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #9e9e9e;
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #616161;
}
/* Scrollbar End */

/* ----- Text Start ----- */
.display-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}
.display-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
}
.display-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
}
.headline-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
}
.headline-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}
.headline-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
.title-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
.title-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.title-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.body-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.body-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}
.body-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.label-large {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}
.label-medium {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.label-small {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
}
/* ----- Text End ----- */
/* ----------- Default Styles End----------- */

/* ----------- Left Nav Start----------- */
.link-container {
  @apply pl-2 h-8 rounded-full flex content-center items-center gap-x-4
}
/* ----------- Left Nav End----------- */

/* ----------- Asset Management Start----------- */
/* Default Management Component Start */
.am-landing-container {
  @apply flex flex-wrap gap-6 title-medium text-neutral-9;
}
.am-landing-container-button {
  @apply bg-white hover:bg-blue-0 focus:bg-blue-1 items-center rounded-lg w-[200px] py-3 px-4 flex flex-col gap-2 text-left;
}
.am-landing-container img {
  @apply h-7 w-fit
}
/* Default Management Component End */
/* Asset Management Action Component Start */
.am-action-container {
  @apply w-full h-screen p-6 flex flex-col justify-center items-center;
}
.am-action-form {
  @apply w-full max-w-sm p-6 rounded-xl shadow-light bg-white flex flex-col gap-y-6;
}
.am-action-form-header {
  @apply flex gap-3 justify-center items-center headline-small
}
.am-action-form-header img {
  @apply h-5 w-fit
}
.am-action-component-main {
  @apply flex flex-col gap-y-1;
}
.am-action-component-item {
  @apply body-medium flex justify-between flex-col;
}
.am-action-component-item label {
  @apply w-fit mb-2 body-medium;
}
.am-action-form-default {
  @apply bg-white rounded-md ring-1 ring-neutral-5 hover:ring-neutral-6 focus:ring-blue-9 focus:ring-2 focus:outline-none
}
.am-action-form-error {
  @apply bg-white rounded-md ring-1 ring-base-red  focus:ring-base-red focus:ring-2 focus:outline-none
}
.am-action-form-error-message {
  @apply h-5 mt-0 body-small flex items-center gap-1 text-base-red
}
.am-uniqname-item {
  @apply w-28 px-2 p-[6px];
}
.am-laptop-item {
  @apply w-fit flex
}
.am-laptop-item select {
  @apply w-fit p-[6px] rounded-none rounded-l-md cursor-pointer mr-[0px] focus:z-10 hover:z-10 focus:bg-white text-neutral-9 bg-neutral-1
}
.am-laptop-item input {
  @apply p-[6px] px-2 h-fit w-20 rounded-none rounded-r-md focus:z-10 hover:z-10
}
.am-comments {
  @apply mb-6 flex flex-col justify-between gap-y-2
}
.am-comments label {
  @apply w-fit body-medium;
}
.am-comments textarea {
  @apply bg-white w-full body-medium p-[6px] h-16 resize-none rounded-md text-neutral-9
}
.am-submit-cancel-container {
  @apply w-full flex justify-between
}
.am-submit-button {
  @apply p-3 w-[130px] label-large text-center border-none rounded-full
}
.am-action-submit-button-spinner {
  @apply w-full flex justify-center
}
.am-action-submit-button-spinner img {
  @apply w-5 h-5 animate-spin ml-2
}
/* Default Action Component End */

/* ----------- Asset Management End----------- */

/* ----------- Asset Management Check In Start----------- */
.add-note {
  @apply absolute top-0 left-0 right-0 bottom-0 bg-white dark:bg-black rounded-md flex flex-col gap-y-1;
}
.add-note-title {
  @apply title-small text-neutral-9 dark:text-neutral-1;
}
.add-note-textarea {
  @apply w-full h-44 rounded-md resize-none mb-6 bg-white dark:bg-black text-neutral-9 dark:text-neutral-1 pt-3 outline-none;
}
/* ----------- Asset Management Check In End----------- */